* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

body {
    height: 100vh;
    background: linear-gradient(#78f,#f78);
}

.loginandreg {
    width: 400px;
    height: 310px;
    background-color: #fff;
    margin: 200px auto;
}

.title {
    height: 60px;
    width: 100%;
    font-size: 20px;
    color: rgb(36, 164, 238);
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}

.reg {
    display: none;
} 

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 9px;
    left: 10px;
}

.layui-input {
    padding-left: 32px;
}
/* Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjY2MzUsInVzZXJuYW1lIjoiYTEwMDg2MTEiLCJwYXNzd29yZCI6IiIsIm5pY2tuYW1lIjoiIiwiZW1haWwiOiIiLCJ1c2VyX3BpYyI6IiIsImlhdCI6MTYyNzgyNzMwOCwiZXhwIjoxNjI3ODYzMzA4fQ.YWlDBDRzPtvtPmc-v9CcqAlhxY8UYRCOxbjoN7eyay4 */